<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      body {
        background-color: black;
        color: white;
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 50px;
      }
    </style>
  </head>
  <body>
    <h1>Url Shortner</h1>

    <% if (locals.id ) { %>
    <p>Url Generated:http://localhost:8000/url/<%= id %></p>
    <% } %>

    <div>
      <form method="post" action="/url">
        <label for=""> Enter Your Original URL</label> <br />
        <input
          type="text"
          name="url"
          id="originalUrl"
          placeholder="Enter URL here"
        />
        <br />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
      <% if (locals.urls) { %>
      <table>
        <th>S. No.</th>
        <th>ShortId</th>
        <th>Redirect</th>
        <th>Clicks</th>
        <tbody>
          <% urls.forEach((url,index)=> { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= url.ShortId %></td>
            <td><%= url.redirectUrl %></td>
            <td><%=url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
